.desktop-nav {
  background-color: #feee00;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between; // To separate logo and links
  align-items: center;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
}

.icon-text-wrapper {
  display: flex;
  align-items: center;
}

.nav-link-text {
  font-size: 16x;
}

.nav-links {
  display: flex;
  align-items: center;
}
